@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

:root {
    --bg-transparent: none;
    --bg-base-color: white;
    --bg-main: rgb(19, 19, 19);
    --bg-div: rgb(79, 19, 107);
    --text-font: 'Raleway', sans-serif;
    --text-hover: rgba($color: #f3aa21, $alpha: 1.0);
}

@mixin baseDisplay($backgroundColor,$height,$width) {
    background: $backgroundColor;
    height: $height;
    width: $width;
}

.animeResultContainer{
    @include baseDisplay(var(--bg-transparent),auto,100vw);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 10vh;
    .innerContainer{
        @include baseDisplay(black,auto,70vw);
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        .titleContainer{
            @include baseDisplay(var(--bg-div),5vh,70vw);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .text{
                margin-left: 1vw;
                color: white;
                font-family: var(--text-font);
            }
        }
        .animeList{
            @include baseDisplay(black,auto,70vw);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px 0px;
            .AnimeContainer{
                @include baseDisplay(rgb(14, 14, 14),20vh,68vw);
                margin: 5px 0px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                .coverContainer{
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 20vh;
                    width: 7vw;
                }
            }
        }
    }
}

