@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

:root {
    --bg-transparent: none;
    --bg-base-color: white;
    --bg-main: rgb(19, 19, 19);
    --bg-div: rgb(77, 11, 107);
    --text-font: 'Raleway', sans-serif;
    --text-hover: rgba($color: #f3aa21, $alpha: 1.0);
}

@mixin baseDisplay($backgroundColor,$height,$width) {
    background: $backgroundColor;
    height: $height;
    width: $width;
}

.CONTAINER{
    @include baseDisplay(var(--bg-transparent),auto,100vw);
    display: grid;
    justify-content: center;
    .anime{
        @include baseDisplay(var(--bg-transparent),auto,72vw);
        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 10vh;
        // padding: 15px 0px 15px 0px;
        .innerContainer-1{
            @include baseDisplay(var(--bg-transparent),auto,53vw);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            margin: 15px 0px 15px 0px;
            .detailsContainer{
                @include baseDisplay(black,50vh,53vw);
                display: grid;
                border-left: 2px solid var(--bg-div);
                border-right: 2px solid var(--bg-div);
                border-bottom: 2px solid var(--bg-div);
                .titleContainer{
                    @include baseDisplay(var(--bg-div),3vh,53vw);
                    display: grid;
                    align-items: center;
                    justify-content: flex-start;
                    .text{
                        font-family: var(--text-font);
                        color: white;
                        margin-left: .5vw;
                    }
                }
                .details{
                    @include baseDisplay(var(--bg-transparent),auto,53vw);
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    .title{
                        @include baseDisplay(var(--bg-transparent),8vh,53vw);
                        display: grid;
                        align-items: center;
                        justify-content: flex-start;
                        // border: 1px solid red;
                        .text{
                            font-family: var(--text-font);
                            color: white;
                            margin-left: .5vw;
                            margin-left: 1vw;
                            font-size: 1.8em;
                        }
                    }
                    .summary{
                        @include baseDisplay(var(--bg-transparent),auto,53vw);
                        display: grid;
                        align-items: center;
                        justify-content: flex-start;
                        // border: 1px solid red;
                        text-align: justify;
                        .text{
                            font-family: var(--text-font);
                            color: white;
                            font-size: .8em;
                            line-height: 30px;
                            padding: 0px 20px;
                        }
                    }
                    .othertitle{
                        @include baseDisplay(var(--bg-transparent),5vh,53vw);
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-start;
                        .text{
                            font-family: var(--text-font);
                            color: white;
                            font-size: .8em;
                            line-height: 30px;
                            padding: 0px 20px;
                        }
                    }
                    .genre{
                        @include baseDisplay(var(--bg-transparent),4vh,53vw);
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-start;
                        .text{
                            font-family: var(--text-font);
                            color: white;
                            font-size: .8em;
                            line-height: 30px;
                            padding: 0px 20px;
                        }
                    }
                    .episodes{
                        @include baseDisplay(var(--bg-transparent),4vh,53vw);
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        .text{
                            font-family: var(--text-font);
                            color: white;
                            font-size: .8em;
                            line-height: 30px;
                            padding: 0px 20px;
                        }
                    }
                    .status{
                        @include baseDisplay(var(--bg-transparent),4vh,53vw);
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        .text{
                            font-family: var(--text-font);
                            color: white;
                            font-size: .8em;
                            line-height: 30px;
                            padding: 0px 20px;
                        }
                    }
                }
            }
            .suggestionContainer{
                @include baseDisplay(black,34vh,53vw);
                display: grid;
                margin: 10px 0px 0px 0px;
                .titleContainer{
                    @include baseDisplay(var(--bg-div),3vh,53vw);
                    display: grid;
                    align-items: center;
                    justify-content: flex-start;
                    .text{
                        font-family: var(--text-font);
                        color: white;
                        margin-left: .5vw;
                    }
                }
            }
        }
        .innerContainer-2{
            @include baseDisplay(var(--bg-transparent),auto,16vw);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            .coverContainer{
                @include baseDisplay(var(--bg-main),51vh,16vw);
                display: grid;
                .titleContainer{
                    @include baseDisplay(var(--bg-div),3vh,16vw);
                    display: grid;
                    align-items: center;
                    justify-content: flex-start;
                    .text{
                        font-family: var(--text-font);
                        color: white;
                        margin-left: .5vw;
                    }
                }
                .cover{
                    @include baseDisplay(var(--bg-transparent),48vh,16vw);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-left: 2px solid var(--bg-div);
                    border-right: 2px solid var(--bg-div);
                    border-bottom: 2px solid var(--bg-div);
                }
            }
            .relatedAnimeContainer{
                @include baseDisplay(black,33vh,16vw);
                margin: 10px 0px 0px 0px;
                .titleContainer{
                    @include baseDisplay(var(--bg-div),3vh,16vw);
                    display: grid;
                    align-items: center;
                    justify-content: flex-start;
                    .text{
                        font-family: var(--text-font);
                        color: white;
                        margin-left: .5vw;
                    }
                }
            }
        }
    }
}